/**
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;
**/

/* pinkish: #ff5851
gray: #f8f8f8
dark blue: #1d1b21
mint: #4ccb88
*/

body {
  background-color: #f8f8f8;
  border: 40px #ffffff solid;
  color: #1d1b21;
  margin: 0;
  /* padding: 80px 50px 40px 50px; */
  height: 100%;
  line-height: 24px;
}

#bottom {
  background: #ffffff;
  height: 40px;
  width:100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* HERO  */
#hero-section {
  height: 100vh;
  padding-top: 80px;
}

.hero-intro {
  text-align: center;
  color: #1d1b21;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
}

.title {
  font-size: 80px;
  white-space:pre-wrap;
  word-break:break-word;
  margin: 0;
  line-height: 1.5;
}

.subtitle {
  font-size: 24px;
  padding-bottom: 24px;
}

.devis {
  color: #ff5851;
}

#hero-section i {
  color: #1d1b21;
  font-size: 32px;
  transition: transform .5s;
}

#hero-section i:hover {
  transform: translateY(10px);
  color: #4ccb88;
}

/* NAV BAR */
#nav-section {
  width: 100%;
  background-color: #ffffff;
  padding: 24px;
}

#nav-section a {
  color: #1d1b21;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  padding-right: 38px;
  transition: transform .75s;
}

#nav-section a:hover {
  transform: translateY(10px);
  color: #4ccb88;
}

/**ABOUT ME**/
#about-me {
  display: flex;
  flex-direction: row;
  padding: 80px;
}

.about-me-text {
  flex: 1;
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  align-items: center;
}

.about-me-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

img {
  border-radius: 50%;
  border: 12px solid #ff5851;
  height: 275px;
  width: 275px;
}

/**PROJECTS**/

#projects {
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 24px 64px 0 0;
  min-width: 300px;
}

#projects a {
  color: #ff5851;
}

.project-card {
  padding-bottom: 48px;
}

.project-card-title {
  font-weight: bold;
}


/* CONTACT */

#contact {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
}

.contact-item {
  color: #e4550e;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  padding-left: 16px;
  transition: transform .25s;
}

.contact-item:hover {
  transform: scale(1.15);
  color: #4ccb88;
}

.contact-item a {
  text-align: center;
}

.contact-item i {
  font-size: 32px;
  padding-bottom: 16px;
}

.contact-item .item-name {
  font-size: 16px;
  font-weight: 500;
}

.container.contact > div:nth-child(1) {
  padding-left: 0;
}


.copyright-section {
 color: #4a4a4a;
 text-align: center;
 font-size: 14px;
 letter-spacing: 5px;
 font-family: 'IBM Plex Sans', sans-serif;
 padding-top: 36px;
}

.heart {
  display: inline-block;
  color: #dc1111;
  animation: heartBeat 3s ease-in-out 2s infinite;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  25% {
    transform: scale(1.2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

/*
@media only screen and (max-width: 762px) {
  .title {
    padding-bottom: 48px;
  }
  .subtitle {
    padding-right: 0;
  }
  .subtitle-text {
    padding-bottom: 24px;
  }
  .contact-section {
    padding: 24px 0 48px 0;
  }
  .contact-section {
    justify-content: center;
  }
  .project-section {
    padding-right: 0;
  }
} */

/* @media only screen and (max-width: 640px) {
  body {
    border: 10px #4ccb88 solid;
    margin: 0;
    padding: 80px 50px 40px 50px;
    height: 100%;
    line-height: 24px;
  }
  img {
    width: 250px;
    height: 250px;
  }
  #bottom {
    height: 10px;
  }
  .subtitle-text {
    font-size: 16px;

  }
  .skills-section {
    padding-bottom: 24px;
  }
  .contact-section {
    padding-top: 24px;
    padding-bottom: 48px;
    justify-content: space-around;
  }
  .contact-item {
    padding: 0 8px;
  }
  .contact-item i {
    font-size: 28px;
  }
  .contact-item .item-name {
    font-size: 14px;
  }
} */
