/**
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;
**/

body {
  border: 20px #4ccb88 solid;
  margin: 0;
  padding: 80px 50px 40px 50px;
  height: 100%;
  line-height: 24px;
}

#bottom {
  background: #4ccb88;
  height: 20px;
  width:100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #e4550e;
  font-weight: bold;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #333333;
  font-family: 'IBM Plex Mono', monospace;
  white-space:pre-wrap;
  word-break:break-word;
  margin: 0;
}

.section-title {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
}

/**hero section**/
.intro {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
  align-content: flex-end;
}

.subtitle {
  flex: 2;
  padding: 48px 48px 0 0;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

img {
  border-radius: 50%;
  height: 275px;
  width: 275px;
}

.subtitle-text {
  font-size: 18px;
  color: #666666;
  font-family: 'IBM Plex Sans', sans-serif;
}

.main-section {
  display: flex;
  flex-flow: row wrap-reverse;
}

.project-section {
  flex: 2;
  padding-right: 48px;
}

.skills-contact-section {
  flex: 1;
  display: flex;
  flex-flow: column wrap-reverse;
}




/**skills section**/

.skills-section {
  flex: 1;
}

.skills-list {
  color: #666666;
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  line-height: 30px;
  padding-top: 24px;
}

.skills-backend {
  padding-left: 64px;
}

/**contact icon section**/
.contact-section {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  padding-top: 40px;
}

.contact-item {
  padding-right: 16px;
  padding-left: 16px;
}

.contact-item {
  color: #e4550e;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  flex-direction: column;
}

.contact-item i {
  font-size: 32px;
  padding-bottom: 16px;
  text-align: center;
}

.contact-item .item-name {
  font-size: 16px;
  font-weight: 500;
}

.container.contact > div:nth-child(1) {
  padding-left: 0;
}





/**project section**/

.work-card {
  color: #666666;
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 24px 0;
}

.work-card-title {
  font-weight: bold;
}

.copyright {
 color: #4a4a4a;
 text-align: center;
 font-size: 14px;
 letter-spacing: 5px;
 font-family: 'IBM Plex Sans', sans-serif;
 padding-top: 42px;
}

.heart {
  color: #dc1111;
}

@media only screen and (max-width: 640px) {
  body {
    border: 10px #4ccb88 solid;
    margin: 0;
    padding: 80px 50px 40px 50px;
    height: 100%;
    line-height: 24px;
  }
  img {
    width: 250px;
    height: 250px;
  }
  .skills-section {
    order: 1;
    padding-top: 40px;
  }
  .contact-section {
    order: 2;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
