/**
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;
**/

/* pinkish: #ff5851
gray: #f8f8f8
dark blue: #1d1b21
mint: #4ccb88
grayish purple: #414a6b
*/

body {
  background-color: #f8f8f8;
  border: 40px #ffffff solid;
  color: #1d1b21;
  margin: 0;
  height: 100%;
  line-height: 24px;
}

#bottom {
  background: #ffffff;
  height: 40px;
  width:100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

a {
  text-decoration: none;
}

/* HERO  */
#hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-intro {
  text-align: center;
  color: #1d1b21;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
}

.title {
  font-size: 80px;
  white-space:pre-wrap;
  word-break:break-word;
  margin: 0;
  line-height: 1.5;
}

.subtitle {
  font-size: 24px;
  padding-bottom: 24px;
}

.devis {
  color: #ff5851;
}

#hero-section i {
  color: #1d1b21;
  font-size: 32px;
  transition: transform .5s;
}

#hero-section i:hover {
  transform: translateY(10px);
  color: #4ccb88;
}

/* NAV BAR */
#nav-section {
  width: 100%;
  background-color: #ffffff;
}

#nav-section a {
  color: #1d1b21;
  font-family: 'IBM Plex Mono', monospace;
  transition: transform .2s;
}

#nav-section a:hover{
  color: #4ccb88;
  transform: scale(1.05);
}

#nav-section .nav-left a {
  font-size: 22px;
  padding-right: 38px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 8px 4px;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sticky {
  width: 95% !important;
  position: fixed;
  top: 0;
}

/* CONTACT ICONS*/

.contact-item {
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.contact-item a {
  text-align: center;
}

.contact-item i {
  font-size: 24px;
  padding-bottom: 8px;
}

.contact-item .item-name {
  font-size: 12px;
  font-weight: 500;
}

/**ABOUT ME**/
#about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 75px 60px;
}

.about-me-text {
  flex: 1;
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  align-items: center;
}

.pups a {
  color: #ff5851;
}

.pups a:hover {
  color: #4ccb88;
}

.about-me-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

#about-me img {
  border-radius: 50%;
  border: 12px solid #4ccb88;
  height: 275px;
  width: 275px;
}

/**PROJECTS**/

#projects {
  font-family: 'IBM Plex Sans', sans-serif;
  padding-top: 75px;
}

#projects a {
  color: #1d1b21;
  font-weight: bolder;
  transition: transform .2s;
}

#projects a:hover {
  color: #4ccb88;
  transform: scale(1.05);
}

#projects .link {
  border-bottom: 1px solid #1d1b21;
  padding-bottom: 2px;
}

#projects img {
  max-width: 500px;
}

.project-card {
  padding: 0 0 36px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.project-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.project-card-title {
  color: #1d1b21;
  font-size: 28px;
  line-height: 1.2;
  padding-bottom: 12px;
  padding-right: 16px;
  font-family: 'IBM Plex Mono', monospace;
}

#projects .colored {
  background-color: #ff5851;
  color: #ffffff;
  padding: 40px;
  display: flex;
}

#projects .right-curved {
  border-radius: 50px 0 0 50px;
}

#projects .left-curved {
  border-radius: 0 50px 50px 0;
}

#reach-out {
  padding: 60px;
}

#reach-out h2 {
  color: #4ccb88;
  font-size: 36px;
  font-family: 'IBM Plex Mono', monospace;
}

#reach-out p {
  font-family: 'IBM Plex Sans';
}

.reach-out-icons {
  display: flex;
  justify-content: center;
}

.reach-out-icons .contact-item {
  padding-right: 36px;
  padding-left: 36px;
}

#reach-out a {
  color: #1d1b21;
  transition: transform .2s;
}

#reach-out a:hover {
  color: #4ccb88;
  transform: scale(1.05);
}

#reach-out i {
  font-size: 48px;
  padding-bottom: 8px;
}

#reach-out .item-name {
  font-size: 16px;
  font-weight: 500;
}

.copyright-section {
 color: #4a4a4a;
 text-align: center;
 font-size: 14px;
 letter-spacing: 5px;
 font-family: 'IBM Plex Sans', sans-serif;
 padding: 36px 0 48px 0;
}

.heart {
  display: inline-block;
  color: #dc1111;
  animation: heartBeat 3s ease-in-out 2s infinite;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  25% {
    transform: scale(1.2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}
